# pinned dependencies
cachetools<5

# direct dependencies
Twisted==22.1.0
urllib3==1.26.8

# transitive dependencies
attrs==21.4.0
Automat==20.2.0
cachetools==4.2.4
constantly==15.1.0
hyperlink==21.0.0
idna==3.3
incremental==21.3.0
six==1.16.0
typing_extensions==4.0.1
zope.interface==5.4.0
